:root {
    --light: #fff;
    --dark: #000;
    --badge-shadow: #c5c5c5;
    --badge-control-shadow: rgba(0,0,0,.125);
    --badge-control-input: #d3d3d3;
}

@media (prefers-color-scheme: dark) {

    :root {
        --light: #fff;
        --dark: #000;
        --badge-shadow: #363131;
        --badge-control-shadow: rgba(0,0,0,.125);
        --badge-control-input: #d3d3d3;
    }

}

.hidden {
    display: none !important;
}

.badge-actions {
    margin: 2rem 0;
    display: flex;
    justify-content: end;
}

.text-center {
    text-align: center;
}


.badges {
    display: flex;
    flex-flow: wrap;
    gap: 30px;
}

.badge-container {
    width: 2.16in;
}

.badge {
    font-family: Avenir Next, sans-serif;
	position: relative;
	width: 2.16in;
	height: 3.35in;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	padding: 0;
	overflow: visible;
	background-color: var(--light);
	color: var(--dark);
    list-style: none;
    box-shadow: -1px 14px 17px 1px var(--badge-shadow);
    text-align: center;
}
.badge.disabled {
    opacity: .25;
    pointer-events: none;
}

.badge .img-container {
	display: inline-block;
	height: 120px;
	width: 120px;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	cursor: move;
	top: .95in;
	border-radius: 50%;
	margin: 0 auto;
}
.badge img {
	left: 0;
	pointer-events: none;
	position: relative;
	top: 0;
	display: block;
	height: auto;
	width: 18.5rem;
	max-width: initial;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.badge-name {
    font-family: Avenir Next, sans-serif;
    position: relative;
    top: 1in;
    font-size: 1.7rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    min-height: .85in;
    text-transform: capitalize;
}
.badge-name span.first-name,
.badge-name span.last-name {
	display: block;
	width: auto;
}

.badge-category {
    font-family: Avenir Next, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    position: absolute;
    bottom: .1rem;
    color: var(--light);
    width: 100%;
    padding: .8rem 0 .2rem;
}

/* ================================
    Badge Adjustment Controls
=================================*/

.badge-controls {
    transition: all .3s ease;
    margin-top: 1rem;
    background: var(--light);
    box-shadow: 0px -3px 20px var(--badge-control-shadow);
    -webkit-box-shadow: 0px -3px 20px var(--badge-control-shadow);
    color: var(--dark);
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 10px;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: var(--badge-control-input);
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

@media print {
    .hidden-print {
        display: none !important;
    }
    .badges {
        display: block;
    }
    body {
        padding: 0 !important;
        margin: 0;
    }
    .page-content,
    .layout-container {
        margin: 0 !important;
    }
    header,
    .view-header,
	.view-filters,
	.view-footer,
    nav.pager,
    .region-header,
    .region-breadcrumb {display:none !important;}
	.badge-container {float:none; page-break-after: always;border:none;padding:0rem;margin:0rem;box-shadow:none;}
	.badge-container:last-child {page-break-after: auto;}
	#page {padding:0rem;}
}