{#
/**
 * @file
 * Default theme implementation for a view template to display a list of badges.
 *
 * Available variables:
 * - rows: A list of badges.
 *   - content: The row's contents.
 *
 * @see template_preprocess_views_view_badge()
 *
 * @ingroup themeable
 */
#}

<div class="badge-actions">
  <button data-badge data-once="badge" class="button button--action button--primary">Print Badges</button>
</div>

  <div class="badges" id="badges-to-print">
    {% for row in rows %}
      <div class="badge-container">

        <!-- Badge -->
        <div class="badge" id="badge-{{- row.content.id -}}" style="background-image: url({{- row.content.badge_image -}});">
          <div class="img-container"><img id="image-{{- row.content.id -}}" src="{{- row.content.person_image -}}"></div>
          <h1 class="badge-name">
            <span class="first-name" id="first-name-{{- row.content.id -}}">{{- row.content.first_name -}}</span>
            <span class="last-name" id="last-name-{{- row.content.id -}}">{{- row.content.last_name -}}</span>
          </h1>
          <div class="badge-category">{{- row.content.category -}}</div>
        </div>

        <!-- Badge Controls -->
        <div class="badge-controls hidden-print">
          <div class="control">
            <label>First Name Size</label>
            <input class="slider-font-size" value="1.5" step=".05" type="range" min=".75" max="1.5" data-target="#first-name-{{- row.content.id -}}">
          </div>
          
          <div class="control">
            <label>Last Name Size</label>
            <input class="slider-font-size" value="1.5" step=".05" type="range" min=".75" max="1.5" data-target="#last-name-{{- row.content.id -}}">
          </div>
          
          <div class="control">
            <label>Image Size</label>
            <input class="slider-image-width" value="18.5" step=".1" type="range" min="7" max="25" data-target="#image-{{- row.content.id -}}">
          </div>
          
          <div class="control text-center">
            <button class="button button-image-rotation button--primary" data-target="#image-{{- row.content.id -}}">Rotate Image</button>

            {# <input class="button-image-rotation" value="rotate image" type="submit" data-target="#image-{{- row.content.id -}}"> #}
          </div>

          <div class="control">
            <input class="dont-print-badge form-checkbox" id="badge-toggle-{{- row.content.id -}}" value="1" type="checkbox" data-target="#badge-{{- row.content.id -}}">
            <label class="control-label" for="badge-toggle-{{- row.content.id -}}">Exclude from Print</label>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>

<div class="badge-actions">
  <button data-badge data-once="badge" class="button button--action button--primary">Print Badges</button>
</div>